body {
  font-family: "Oswald", sans-serif;
  background-color: #6c757d; }

.masthead {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 500px;
  background-image: url("../img/banner.jpg"); }

.breadcrumb {
  background-color: #6c757d; }

.breadcrumb-item.active {
  color: #F0F0F0;
  text-decoration: none; }

.breadcrumb a, .breadcrumb-item.active::before {
  color: #343a40; }
