$background-color: #6c757d;
$breadcrumb-text-color:#F0F0F0;
$breadcrumb-active-color:#343a40;
$body-font: 'Oswald', sans-serif;


body {
    font-family: $body-font;
    background-color: $background-color;
}

.masthead {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/banner.jpg');
}

.breadcrumb{
    background-color:$background-color;
}

.breadcrumb-item.active {
    color: $breadcrumb-text-color;
    text-decoration: none;
 }
 .breadcrumb a, .breadcrumb-item.active::before{
     color:$breadcrumb-active-color;
 }